/* Flexbox layout for the app */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;  /* No vertical centering */
  width: 100%;
  height: auto;  /* Let height grow with content */
  margin: 0;
  padding: 0;
  background-image: url('/assets/background.jpeg');
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px; /* Add some space from the title */
  padding: 20px;
  gap: 20px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align the tops of the grid and selector */
  width: 100%;
  max-width: 1200px;
}

.grid-section {
  display: flex;
  flex-direction: column;
  align-items: center;  /* Center the title and grid together */
  max-width: 800px;
  margin-right: 20px;  /* Space between grid and selector */
}

.title-wrapper {
  display: flex;
  justify-content: center; /* Center the title in the available space */
  width: 100%;
}

/* Title centered above the grid */
.chart-title {
  font-size: 25px;
  font-weight: bold;
  background-color: rgba(111, 111, 111, 0.8);
  border-radius: 8px;
  padding: 10px 20px;
  max-width: 400px;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  display: block;
}

/* Grid wrapper */
.grid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-right: 20px;
}

/* Grid container */
.grid-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-top: 0px;
  box-sizing: border-box;
}

/* Selector container */
.selector-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: rgba(111, 111, 111, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  align-self: flex-start;
  margin-top: 20px;
}

.selector-container select,
.selector-container label {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

/* Optional: Adjust the h1 title at the top */
h1 {
  text-align: center;
  margin: 20px 0;
}

/* App.css */
.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.custom-button {
  padding: 10px 15px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #555;
}

.custom-button.active {
  background-color: #f60;
}

.custom-button:disabled {
  background-color: #888;
}