.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1e1e1e;
  color: white;
}

.app-title-slogan {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #2c2c2c;
}

h1 {
  font-size: 1.1rem; /* Reduced font size */
  margin: 0; /* Remove default margin */
}

h2 {
  font-size: 1.1rem; /* Reduced font size */
  margin: 0; /* Remove default margin */
  font-style: italic;
  font-weight: 400;
}

.header-buttons button {
  margin-left: 0.5rem; /* Slightly reduced margin */
  padding: 0.3rem 0.8rem; /* Reduced padding */
  background-color: #3c3c3c;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.9rem; /* Slightly reduced font size */
  font-weight: bold;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.content-container {
  display: flex;
  gap: 1rem;
}

.left-container {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.chart-title {
  width: 100%;
  height: 2.5rem; /* Set a fixed height */
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
  background-color: #2c2c2c;
  border-radius: 4px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-title .placeholder {
  display: inline-block;
  width: 100%;
  height: 100%;
}


.grid-container {
  flex: 2;
}

.selectors-container {
  flex: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.selectors-container h3 {
  margin-top: 0;
}

.selector-container {
  background-color: #2c2c2c;
  padding: 1rem;
  border-radius: 8px;
}

.selector-group {
  background-color: #2c2c2c;
  padding: 1rem;
  border-radius: 4px;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.access-all-button {
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem;
  background-color: rgb(222, 187, 14);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

.custom-button {
  padding: 0.5rem;
  background-color: #888;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.9rem;
}

.custom-button:hover {
  background-color: hsl(24, 91%, 66%);
}

.custom-button.active {
  background-color: #f60;
}

.custom-button:disabled {
  background-color: #555;
  cursor: not-allowed;
}