.poker-grid {
  width: auto;
  margin: 0 auto; /* Center the grid */
  border-collapse: collapse;
}

.poker-grid td {
  width: 40px; 
  height: 40px;
  text-align: center;
  padding: 0;
  vertical-align: middle;
  border: 1px solid black;
  font-weight: bold;
  color: white;
  font-size: 14px;
}

.raise {
  background-color: hsl(27, 100%, 50%);
}

.call {
  background-color: rgb(59, 168, 83);
}

.fold {
  background-color: rgb(111, 111, 111);
}

.allin {
  background-color: red;
}

/* Gradient backgrounds for split actions */
.raise-fold {
  background: linear-gradient(to right, hsl(27, 100%, 50%) 50%, rgb(111, 111, 111) 50%);
}

.raise-call {
  background: linear-gradient(to right, hsl(27, 100%, 50%) 50%, rgb(59, 168, 83) 50%);
}

.call-fold {
  background: linear-gradient(to right, rgb(59, 168, 83) 50%, rgb(111, 111, 111) 50%);
}

.allin-fold {
  background: linear-gradient(to right, red 50%, rgb(111, 111, 111) 50%);
}

.chart-key {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;  /* Space between the key items */
}

.key-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #333;  /* Default background color */
  text-align: center;
}

.key-label {
  margin-right: 5px;
}

.key-percentage {
  font-size: 0.9em;
}